//\\\\\\\\\\\\\\\\\\\\\\\
//\\\\ COLOURS \\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\

$blue: #406B85;
$grey: #CCC;

//\\\\\\\\\\\\\\\\\\\\\\\
//\\\\ SIZES \\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\

$flagSize: 60px;