//\\\\\\\\\\\\\\\\\\\\\\\
//\\\\ COLOURS \\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\

$blue: #406B85;
$grey: #CCC;
$jirBlue: rgb(0, 159, 227);
$green: rgb(0, 148, 83);
$navy: rgb(0, 23, 43);
$orange: rgb(237, 112, 4);
$lightBlue: rgb(212, 237, 252);
$jirGrey: rgb(242, 242, 242);


//\\\\\\\\\\\\\\\\\\\\\\\
//\\\\ SIZES \\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\

$flagSize: 60px;